<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h1>Edit <%= @list.title %> List</h1>
	</div>
</div>

<%= render 'form' %>

<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<%= link_to 'Show', @list %> |
		<%= link_to 'Back', lists_path %>
	</div>
</div>


