<h3>The About Page</h3>

<p>List-It is a simple app that lets you create as many lists as you like, then add items to those lists. You can then cross-off items as you do them, or delete them entirely. Looking at all those crossed-out items should be motivating, right?</p>

<p>You will need to create an account first, but don't worry: List-It does not send out any emails other than to retreive a forgotten password.</p>

<p>I built this app to finally start putting together all the separate and varied pieces I had gathered and encountered while trying to learn Rails. Even though it is a simple app, I learned A LOT, and A LOT goes into making even a simple app. Database modeling, restricting access through controllers and views, testing, UX and design, and building out the front-end all require attention to an awful lot of details!</p>

<p>The demo form on the homepage is a JavaScript/jQuery recreation of the actual database-backed lists that you would create once you create your account. This was one of my favorite parts of the project; I really like it when you can test drive something right on the homepage BEFORE you create an account.</p>

<p>Now, make a list and start getting some stuff done!</p>

<p>Sharon Hunter</p>