<div class="well well-lg">

	<h3>The About Page</h3>

	<p class="about">List-It is a simple app that lets you create as many lists as you like, then add items to those lists. You can then cross-off items as you do them, or delete them entirely. Looking at all those crossed-out items should be motivating, right?</p>

	<p class="about">You will need to create an account first, but don't worry: List-It does not send out any emails other than to retreive a forgotten password.</p>

	<p class="about">I built this app to finally start putting together all the separate and varied pieces I had gathered and encountered while trying to learn Rails. Even though it is a simple app, I learned A LOT, and A LOT goes into making even a simple app. Database modeling, restricting access through controllers and views, testing, UX and design, and building out the front-end all require attention to an awful lot of details!</p>

	<p class="about">The demo form on the homepage is a JavaScript/jQuery simulation of an actual database-backed list that you would create after opening your account. This was one of my favorite parts of the project; it's nice to be able to test drive something right on the homepage BEFORE you create an account.</p>

	<p class="about">So, make a list and start getting some stuff done!</p>

	<p class="about">Sharon Hunter</p>

</div>