<div class="row well well-lg">
	<div class="col-sm-3 hidden-xs" id="headline">
		<h1><strong>List-It</strong></h1>
	</div>
	<div class="col-sm-9">
	   <p class="text-left">A free-to-use Rails 4 app that you can use to create and keep track of as many lists and list items as you like.</p>
	    <p>Packing lists, to-do lists, shopping lists, and so on.</p>
	    <p>Just a place to keep track of all the things you need to remember!</p>
	</div>
</div>

<!-- 		<%= link_to "Create an Account", new_user_registration_path, class: 'btn btn-default btn-lg btn-block' %>

		<p class="small text-center">Already have an account?</p>

		<%= link_to "Log In", new_user_session_path, class: 'btn btn-default btn-lg btn-block'  %> -->
		
	  <div class="col-sm-6 col-sm-offset-3">
	  	<div class="text-center table-title">
				<h3>Try This Demo!</h3>
				<p class="demo-text">Delete or check off items, <br />or add your own using the form below.</p>
			</div>

			<table class="table" id="demo-list">
					<tr>
						<td class="icon-cell-remove"><span class='glyphicon glyphicon-ok'</span></td>
						<td class="item-cell text-left" style="color:#666"><strike>Wash the car.</strike></td>
						<td class="icon-cell-trash"><a class='glyphicon glyphicon-trash'</a></td>
					</tr>
					<tr class='highlight'>
						<td class="icon-cell-remove"><a class='glyphicon glyphicon-remove'</a></td>
						<td class="item-cell text-left">Vet appt. 2:30 Saturday.</td>
						<td class="icon-cell-trash"><a class='glyphicon glyphicon-trash'</a></td>
					</tr>
					<tr>
						<td class="icon-cell-remove"><a class='glyphicon glyphicon-remove'</a></td>
						<td class="item-cell text-left">Buy new running shoes.</td>
						<td class="icon-cell-trash"><a class='glyphicon glyphicon-trash'</a></td>
					</tr>
				</table>
				
				<form id="demo-form">
					<div class="form-group">
						<label for="demo-list-item"></label>
						<input type="text" class="form-control input-custom" id="demo-list-item" placeholder="New List Item">
					</div>
					
					<div class="form-group">
						<div class="checkbox">
    						<label>
      							<input type="checkbox" id="demo-checkbox"> Mark as Priority
    						</label>
    					</div>
    				</div>
	
					<div class="form-group">
						<button type="button" class="btn btn-custom" id="demo-submit-btn">Add List Item</button>
					</div>

				</form>

	  		<!-- </div> -->
	 </div>
</div> <!-- end of row -->


	
	


 
