
  <div class="panel-heading">
    <h1><strong>List-It</strong></h1>
  </div>

  <div class="row">
  <div class="panel panel-default col-sm-6">
	  <div class="panel-body">
	    <p>Welcome to List-It, a Rails 4 app that you can use to create and keep track of as many lists and list items as you like.<p>
		<p>Packing lists, to-do-lists, lists of other lists, shopping lists, and so on.</p>
		<p>Nothing fancy, just a place to keep track of all the things you need to remember.</p>

		<%= link_to "Create an Account", new_user_registration_path, class: 'btn btn-default btn-lg btn-block' %>
		
		</div>
	</div>


	
	


 
