
  <div class="panel-heading">
    <h1><strong>List-It</strong></h1>
  </div>

  <div class="row">
  <div class="panel panel-default col-sm-6">
	  <div class="panel-body">
	    <p>Welcome to List-It, a Rails 4 app that you can use to create and keep track of as many lists and list items as you like.<p>
		<p>Packing lists, to-do-lists, lists of other lists, shopping lists, and so on.</p>
		<p>Nothing fancy, just a place to keep track of all the things you need to remember.</p>

		<%= link_to "Create an Account", new_user_registration_path, class: 'btn btn-default btn-lg btn-block' %>

		<p class="small text-center">Already have an account?</p>

		<%= link_to "Log In", new_user_session_path, class: 'btn btn-default btn-lg btn-block'  %>
		
		</div>
	</div>


	<div class="panel panel-default col-sm-6">
	  <div class="panel-body">
	  	<div class="text-center table-title">
				<h3>This Weekend</h3>
			</div>
	  			<table class="table">
					<tr>
						<td><span class='glyphicon glyphicon-ok demo-ok'</span></td>
						<td class="item-cell text-left demo-item-cell" style="color:#666"><strike>Wash the car.</strike></td>
						<td class="icon-cell"><span class='glyphicon glyphicon-trash demo-trash'</span></td>
					</tr>
					<tr class='highlight'>
						<td><span class='glyphicon glyphicon-remove demo-remove'</span></td>
						<td class="item-cell text-left demo-item-cell">Vet appt. 2:30 Saturday.</td>
						<td class="icon-cell"><span class='glyphicon glyphicon-trash demo-trash'</span></td>
					</tr>
					<tr>
						<td><span class='glyphicon glyphicon-remove demo-remove'</span></td>
						<td class="item-cell text-left">Buy new running shoes.</td>
						<td class="icon-cell"><span class='glyphicon glyphicon-trash demo-trash'</span></td>
					</tr>
				</table>
				
				<form>
					<div class="form-group">
						<label for="demo-list-item"></label>
						<input type="text" class="form-control input-custom" id="demo-list-item" placeholder="New List Item">
					</div>
					
					<div class="form-group">
						<div class="checkbox">
    						<label>
      							<input type="checkbox" id="demo-checkbox"> Mark as Priority
    						</label>
    					</div>
    				</div>
	
					<div class="form-group">
						<button type="submit" class="btn btn-custom" id="demo-submit-btn">Add List Item</button>
					</div>

				</form>

	  		</div>
	 </div>
</div> <!-- end of row -->


	
	


 
