<tr>
	<% if list_item.completed? %>
		<td></td>
		
		<td><p style="opacity:0.4;"><strike><%= list_item.content %></strike></p></td>
			
	<% else %>
			
		<td><%= link_to 'Mark as Complete', complete_list_list_item_path(@list, list_item.id), method: :patch %></td>
			
		<td><p class="list-item"><%= list_item.content %></p></td>
			
	<% end %>
			
		<td><%= link_to 'Delete Task', list_list_item_path(@list, list_item.id), method: :delete, data: { confirm: "Are you sure?" }%></td>
</tr>

