<tr>
	<% if list_item.completed? %>
		<td><span class='glyphicon glyphicon-ok'</span></td>
		
		<td><p style="opacity:0.6;"><strike><%= list_item.content %></strike></p></td>
			
	<% else %>
			
		<td><%= link_to 'Cross off!', complete_list_list_item_path(@list, list_item.id), method: :patch %></td>
			
		<td><p class="list-item"><%= list_item.content %></p></td>
			
	<% end %>
			
		<td><%= link_to '', list_list_item_path(@list, list_item.id), class: 'glyphicon glyphicon-trash', method: :delete, data: { confirm: "Are you sure?" }%></td>
</tr>

