<tr>
	<% if list_item.completed? %>
		<td><span class='glyphicon glyphicon-ok'</span></td>
		
		<td class="item-cell text-left" style="opacity:0.6;"><strike><%= list_item.content %></strike></td>
			
	<% else %>
			
		<td><%= link_to 'Cross off!', complete_list_list_item_path(@list, list_item.id), method: :patch %></td>
			
		<td class="item-cell text-left"><%= list_item.content %></td>
			
	<% end %>
			
		<td><%= link_to '', list_list_item_path(@list, list_item.id), class: 'glyphicon glyphicon-trash', method: :delete, data: { confirm: "Are you sure?" }%></td>
</tr>

